<!-- <p>register-user-home-page works!</p> -->

<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark" class="nav-css" [containerInside]="false">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" style="color: white;"><b>USER</b></a></mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link waves-light" mdbWavesEffect>ISA-MRS-2022<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" [routerLink]="['/','register_home']" mdbWavesEffect>
                    <button class="nav-item" style="border: 0;background-color: #0BDA51;color: white;"
                        type="button">Home</button></a>
            </li>

            <li class="nav-item">
                <a class="nav-link waves-light" [routerLink]="['/','register_reservation']" mdbWavesEffect> <button
                        class="nav-item" style="border: 0;background-color: #0BDA51;color: white;" type="button">History
                        Reservation</button></a>
            </li>

            <li class="nav-item">
                <a class="nav-link waves-light" [routerLink]="['/','register_profile']" mdbWavesEffect><button
                        class="nav-item" style="border: 0;background-color: #0BDA51;color: white;" type="button">My
                        Profile</button></a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" [routerLink]="['/','register_subscribe']" mdbWavesEffect><button
                        class="nav-item" style="border: 0;background-color: #0BDA51;color: white;"
                        type="button">Subscribe Entity</button></a>
            </li>

            <li class="nav-item">
                <a class="nav-link waves-light" [routerLink]="['/','register_actions']" mdbWavesEffect><button
                        class="nav-item" style="border: 0;background-color: #0BDA51;color: white;"
                        type="button">Actions</button></a>
            </li>

        </ul>
        <!-- Links -->

        <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/','home']">
                    <button class="nav-item" style="border: 0;background-color: #0BDA51;color: white;" type="button"><i
                            (click)="logout()" class="fa fa-sign-out  fa-xl" aria-hidden="true"></i></button>
                </a>
            </li>

        </ul>
    </links>
    <!-- Collapsible content -->

</mdb-navbar>