<div class="search-bar form-group container">
    <form [formGroup]="profileForm" (ngSubmit)="filterAdventure()">
        <div class="row" style="width: 50%;margin-left: 25%;">

            <div class="col col-example"><input class="form-control" type="text" formControlName="name"
                    placeholder="Name">
            </div>
            <div class="col col-example"><input class="form-control" type="text" formControlName="address"
                    placeholder="Address">
            </div>
            <div class="col col-example"><input class="form-control" type="text" formControlName="averageMark"
                    placeholder="Average Mark">
            </div>
            <div class="w-100"></div>
            <p></p>
            <div class="col col-example"><input class="form-control" type="text" formControlName="maxNumPersonFrom"
                    placeholder="Max Number Person From">
            </div>

            <div class="col col-example"><input class="form-control" type="text" formControlName="maxNumPersonTo"
                    placeholder="Max Number Person From">
            </div>

            <!-- <p>Form Status: {{ profileForm.status }}</p> -->
            <p></p>
            <button class="btn btn-primary" type="submit" style="width: 50%;margin-left: 25%;">Search</button>
        </div>


    </form>

</div>

<div class="sort-container">

    <mat-form-field appearance="fill">
        <mat-label>Sort Adventure</mat-label>
        <mat-select (selectionChange)="setSortType($event.value)">
            <mat-option *ngFor=" let adventure of adventures" [value]="adventure.value">
                {{adventure.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>

</div>

<div class="basic-container">
    <mat-grid-list cols="3" rowHeight="1:1" [gutterSize]="'30px'">

        <mat-grid-tile *ngFor="let adventure of this.adList">
            <div id="over" class="card text-center" style="width: auto; background-color: skyblue;">
                <img [src]="getImageName(adventure.ai.name)" width="50%" style="margin-left: 25%;">
                <div class="card-body">
                    <h5 class="card-title">{{adventure.name}}</h5>

                    <p class="card-text">{{adventure.address}}</p>
                    <p class="card-text">{{adventure.maxNumPerson}}</p>
                    <p class="card-text">{{adventure.averageMark}}</p>

                    <a class="btn btn-primary" [routerLink]="goProfile(adventure.id)">Go Profile</a>
                </div>
            </div>
        </mat-grid-tile>



    </mat-grid-list>
    <div style="text-align: center;padding: 5em;">
        <button type="button" class="btn btn-primary" (click)=" pageMinus()">Previous</button>
        <button type="button" class="btn btn-primary" (click)=" pagePlus()" style="margin-left :5px ">Next</button>
    </div>

</div>