<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark" class="nav-css" [containerInside]="false">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" href="#">Filip Vasić</a></mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link waves-light" mdbWavesEffect>ISA-MRS-2022<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect>Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect>Pricing</a>
            </li>

            <!-- Dropdown -->
            <li class="nav-item dropdown" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light"
                    mdbWavesEffect>
                    Basic dropdown<span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">Action</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">Another action</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">Something else here</a>
                    <div class="divider dropdown-divider"></div>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">Separated link</a>
                </div>
            </li>

        </ul>
        <!-- Links -->

        <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item">
                <a class="nav-link">
                    <!-- <mdb-icon fab icon="google-plus"></mdb-icon> -->
                    <i class="fa fa-sign-in fa-xl" aria-hidden="true" style="margin-right: 0.5em;"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link">
                    <!-- <mdb-icon fab icon="twitter"></mdb-icon> -->
                    <i class="fa-solid fa-user-plus fa-xl"></i>
                </a>
            </li>

            <!-- <li class="nav-item">
                <a class="nav-link">
                    <div class="btn-group" mdbDropdown>
                        <mdb-icon fas icon="user" mdbDropdownToggle></mdb-icon>
                        <div class="dropdown-menu dropdown-menu-right dropdown-primary">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <div class="divider dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                    </div>
                </a>
            </li> -->
        </ul>
    </links>
    <!-- Collapsible content -->

</mdb-navbar>

<div class="container mt" style="margin-top: 5em;">
    <div class="row align-items-center">
        <div class="col-7">
            <ng-image-slider [images]="imgCollection" #nav [infinite]="true" [imageSize]="{width: 742, height: 500}">
            </ng-image-slider>
        </div>
        <!-- <div class="col">col</div>
        <div class="col">col</div> -->
        <!-- <div class="col-4">
            EMPTY
        </div> -->
        <div class="col-4" style="margin-left: 5em;">
            <div> <button class="btn btn-primary" type="submit"
                    style="width: 50%;margin-left: 25%;margin-bottom: 1em;">Make
                    Reservation</button>
            </div>
            <div style="border-radius: 1em;" #mapContainer id="map"></div>
            <div>KALENDAR</div>
        </div>
    </div>
    <div class="row">
        <div class="col-7" style="
        column-count: 2;margin-top: 5em;margin-bottom: 5em;">

            <h3 class="card-title"><b>Name:</b> <i> {{adventureProfile.name}} </i></h3>
            <h3 class="card-title"><b>Address:</b> <i> {{adventureProfile.address}} </i></h3>
            <h3 class="card-title"><b>Decription:</b> <i> {{adventureProfile.description}} </i></h3>
            <h3 class="card-title"><b>Max Num Of Person:</b> <i> {{adventureProfile.maxNumPerson}} </i></h3>
            <h3 class="card-title"><b>Cancellation Conditions:</b> <i> {{adventureProfile.cancellationConditions}} </i>
            </h3>
            <h3 class="card-title"><b>Rule Behaviour:</b> <i> {{adventureProfile.ruleBehavior}} </i></h3>
            <h3 class="card-title"><b>More Information:</b> <i> {{adventureProfile.moreInformation}} </i></h3>
            <h3 class="card-title"><b>Average Mark:</b> <i> {{adventureProfile.averageMark}} </i></h3>





        </div>
        <div class="col-4">col-4</div>
    </div>
</div>

<div class="container mt mat-elevation-z8"
    style="display: inline-block; margin-top: 3em;margin-bottom: 5em;margin-left: 13%;">
    <table mat-table [dataSource]="adventureProfile.adventureActions">
        <!-- id Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- maxPeopleNum Column -->
        <ng-container matColumnDef="maxPeopleNum">
            <th mat-header-cell *matHeaderCellDef> Max People Number </th>
            <td mat-cell *matCellDef="let element"> {{element.maxPeopleNum}} </td>
        </ng-container>

        <!-- description Column -->
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>

        <!-- price Column -->
        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> Price </th>
            <td mat-cell *matCellDef="let element"> {{element.price}} </td>
        </ng-container>

        <!-- startAction Column -->
        <ng-container matColumnDef="startAction">
            <th mat-header-cell *matHeaderCellDef> Start Action </th>
            <td mat-cell *matCellDef="let element"> {{element.startAction|date}} </td>
        </ng-container>

        <!-- endAction Column -->
        <ng-container matColumnDef="endAction">
            <th mat-header-cell *matHeaderCellDef> End Action </th>
            <td mat-cell *matCellDef="let element"> {{element.endAction|date}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
<!-- <div class="container mt">
    <div class="row align-items-center">
        <div class="col">Col</div>
        <div class="col">col</div>
        <div class="col">col</div>
        <div class="col-6 col-sm-4">
            <div #mapContainer id="map"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-8">col-8</div>
        <div class="col-4">col-4</div>
    </div>
</div> -->
<!-- <div #mapContainer id="map"></div> -->