<!-- Default form login -->
<img src="assets/user1.png" style="width: 10%;height: 20%; margin-left: 45%;margin-top: 3em;" />

<!-- <h1 style="width: 10%;height: 20%; margin-left: 45%;margin-top: 1em;">{{myUser.username}}</h1> -->

<form [formGroup]="profileForm" (ngSubmit)="editUser()" class="text-center border border-light p-5"
    style="width: 30%;margin-left: 35%;margin-top: 1em;">

    <p class="h4 mb-4" style="color:#00C851;" color="success">Profile: {{myUser.username}}</p>
    <!-- Email -->
    <input [(ngModel)]="myUser.email" formControlName="email" type="text" id="defaultLoginFormEmail"
        class="form-control mb-4" placeholder="E-mail">
    <!-- Password -->
    <input [(ngModel)]="myUser.password" formControlName="password" type="password" id="defaultLoginFormPassword"
        class="form-control mb-4" placeholder="New Password">

    <!-- Password2 -->
    <input formControlName="password2" type="password" id="defaultLoginFormPassword2" class="form-control mb-4"
        placeholder="New Password2">
    <!-- First Name -->
    <input [(ngModel)]="myUser.firstName" formControlName="firstName" type="text" id="defaultLoginFormFirstName"
        class="form-control mb-4" placeholder="First Name">
    <!-- Last Name -->
    <input [(ngModel)]="myUser.lastName" formControlName="lastName" type="text" id="defaultLoginFormLast"
        class="form-control mb-4" placeholder="Last Name">
    <div>
        <label style="float:left ;margin-top: 1.3em;color: red;">Do yoy want to delete account?</label>
        <button mdbBtn color="red" type="button" style="float:right ;" (click)="deleteAccount()">Delete</button>
    </div>
    <!-- Sign in button -->
    <button mdbBtn color="success" type="submit" style="margin-left: 10em;margin-top: 5em;">Edit</button>


</form>
<!-- Default form login -->