<app-home-page-menu></app-home-page-menu>

<mat-grid-list cols="16" [style.background]="'fff'" style="margin-top: 10em;" [gutterSize]="'5px'">
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>

    <mat-grid-tile><button (click)="set_entity_type_cottage()" type="button"
            class="btn btn-new btn-lg box-shadow--8dp"><i class="fa fa-home" aria-hidden="true"
                style="font-size: 50px;"></i></button> </mat-grid-tile>
    <mat-grid-tile><button (click)="set_entity_type_boat()" type="button"
            class="btn btn-primary btn-lg box-shadow--8dp"><i class="fa-solid fa-ship"
                style="font-size: 50px;"></i></button> </mat-grid-tile>
    <mat-grid-tile><button (click)="set_entity_type_adventure()" type=" button"
            class="btn btn-info btn-lg box-shadow--8dp"><i class="fas fa-map-marked-alt"
                style="font-size: 50px;"></i></button> </mat-grid-tile>

</mat-grid-list>

<div class="basic-container" style="margin-top: 5em;border: 2em;">
    <div>
        <div *ngIf="entity_type==0" [@fadeInOut]>
            <mat-grid-list cols="3" rowHeight="1:1" [gutterSize]="'30px'">

                <mat-grid-tile *ngFor="let cottage of this.cttList">
                    <div id="over" class="card text-center" style="width: auto; background-color: skyblue;">
                        <img [src]="getImageName(cottage.cm.name)" width="50%">
                        <div class="card-body">
                            <h5 class="card-title">{{cottage.name}}</h5>

                            <p class="card-text">{{cottage.address}}</p>
                            <p class="card-text">{{cottage.bedNums}}</p>
                            <p class="card-text">{{cottage.averageMark}}</p>
                            <button (click)="unsubscribe_cottage(cottage.id)" style="margin-right: 1em;"
                                class="btn btn-info" type="submit">UNSUBSCRIBE
                                <i style="margin-left: 1em;" class="fas fa-bell" aria-hidden="true"></i>
                            </button>
                            <a href="#" class="btn btn-primary" [routerLink]="goProfile(cottage.id)">Go Profile</a>
                        </div>
                    </div>
                </mat-grid-tile>

                <mat-grid-tile style="margin-top: 3em;"></mat-grid-tile>


            </mat-grid-list>

        </div>


        <div *ngIf="entity_type==1" [@fadeInOut]>
            <mat-grid-list cols="3" rowHeight="1:1" [gutterSize]="'30px'">

                <mat-grid-tile *ngFor="let boat of this.btList">
                    <div id="over" class="card text-center" style="width: auto; background-color: skyblue;">
                        <img [src]="getImageName(boat.bi.name)" width="50%" style="margin-left: 25%;">
                        <div class="card-body">
                            <h5 class="card-title">{{boat.name}}</h5>

                            <p class="card-text">{{boat.address}}</p>
                            <p class="card-text">{{boat.type}}</p>
                            <p class="card-text">{{boat.averageMark}}</p>
                            <button (click)="unsubscribe_boat(boat.id)" style="margin-right: 1em;" class="btn btn-info"
                                type="submit">UNSUBSCRIBE
                                <i style="margin-left: 1em;" class="fas fa-bell" aria-hidden="true"></i>
                            </button>
                            <a href="#" class="btn btn-primary" [routerLink]="goProfileBoat(boat.id)">Go Profile</a>
                        </div>
                    </div>
                </mat-grid-tile>



            </mat-grid-list>
        </div>
        <div *ngIf="entity_type==2" [@fadeInOut]>
            <mat-grid-list cols="3" rowHeight="1:1" [gutterSize]="'30px'">

                <mat-grid-tile *ngFor="let adventure of this.adList">
                    <div id="over" class="card text-center" style="width: auto; background-color: skyblue;">
                        <img [src]="getImageName(adventure.ai.name)" width="50%" style="margin-left: 25%;">
                        <div class="card-body">
                            <h5 class="card-title">{{adventure.name}}</h5>

                            <p class="card-text">{{adventure.address}}</p>
                            <p class="card-text">{{adventure.maxNumPerson}}</p>
                            <p class="card-text">{{adventure.averageMark}}</p>
                            <button (click)="unsubscribe_adventure(adventure.id)" style="margin-right: 1em;"
                                class="btn btn-info" type="submit">UNSUBSCRIBE
                                <i style="margin-left: 1em;" class="fas fa-bell" aria-hidden="true"></i>
                            </button>
                            <a class="btn btn-primary" [routerLink]="goProfileAdventure(adventure.id)">Go Profile</a>
                        </div>
                    </div>
                </mat-grid-tile>



            </mat-grid-list>
        </div>
    </div>