<app-home-page-menu></app-home-page-menu>

<div>
    <div *ngIf="menu_page==0" [@fadeInOut]>
        <div style="margin-top: 15em; text-align: center;">
            <img src="assets/ad212.png" width="300" height="200" style="margin-right: 1em;">
            <img src="assets/ads9.png" width="350" height="200">
            <img src="assets/ads10.png" width="350" height="200">
        </div>
        <mat-grid-list cols="16" [style.background]="'fff'" style="margin-top: 10em;margin-left: 6.5em;"
            [gutterSize]="'5px'">
            <mat-grid-tile></mat-grid-tile>
            <mat-grid-tile></mat-grid-tile>
            <mat-grid-tile></mat-grid-tile>
            <mat-grid-tile></mat-grid-tile>
            <mat-grid-tile></mat-grid-tile>
            <mat-grid-tile></mat-grid-tile>

            <mat-grid-tile><button (click)="set_entity_type_cottage()" type="button"
                    class="btn btn-new btn-lg box-shadow--8dp"><i class="fa fa-home" aria-hidden="true"
                        style="font-size: 50px;"></i></button> </mat-grid-tile>
            <mat-grid-tile><button (click)="set_entity_type_boat()" type="button"
                    class="btn btn-primary btn-lg box-shadow--8dp"><i class="fa-solid fa-ship"
                        style="font-size: 50px;"></i></button> </mat-grid-tile>
            <mat-grid-tile><button (click)="set_entity_type_adventure()" type=" button"
                    class="btn btn-info btn-lg box-shadow--8dp"><i class="fas fa-map-marked-alt"
                        style="font-size: 50px;"></i></button> </mat-grid-tile>

        </mat-grid-list>


        <div>
            <div *ngIf="entity_type==0" [@fadeInOut]>
                <app-cottages-home-page></app-cottages-home-page>
            </div>
            <div *ngIf="entity_type==1" [@fadeInOut]>
                <app-boats-home-page></app-boats-home-page>
            </div>
            <div *ngIf="entity_type==2" [@fadeInOut]>
                <app-adventures-home-page></app-adventures-home-page>
            </div>

        </div>


    </div>
    <!-- <div *ngIf="menu_page==1" [@fadeInOut]>
        <app-register-user-history-reservation></app-register-user-history-reservation>

    </div>
    <div *ngIf="menu_page==2" [@fadeInOut]>

        <app-my-user-profile></app-my-user-profile>
    </div>
    <div *ngIf="menu_page==3" [@fadeInOut]>

        <app-my-user-subscribe-entity></app-my-user-subscribe-entity>
    </div>
    <div *ngIf="menu_page==4" [@fadeInOut]>
        <app-my-user-actions></app-my-user-actions>

    </div> -->

</div>