<div style="margin-left: 12.5%;" class="search-bar form-group container">
    <form [formGroup]="profileForm" (ngSubmit)="filterCottage()">
        <div class="row" style="width: 50%;margin-left: 25%;">

            <div class="col col-example"><input class="form-control" type="text" formControlName="name"
                    placeholder="Name">
            </div>
            <div class="col col-example"><input class="form-control" type="text" formControlName="address"
                    placeholder="Address">
            </div>
            <div class="w-100"></div>
            <p></p>
            <div class="col col-example"><input class="form-control" type="text" formControlName="numberOfRoom"
                    placeholder="Room Number">
            </div>

            <div class="col col-example"><input class="form-control" type="text" formControlName="averageMark"
                    placeholder="Average Mark">
            </div>

            <p></p>

            <div class="col col-example" style="margin-left: 25%;">
                <mat-form-field appearance="fill">
                    <mat-label>Enter a date range</mat-label>
                    <mat-date-range-input [rangePicker]="picker">
                        <input matStartDate formControlName="start" placeholder="Start date">
                        <input matEndDate formControlName="end" placeholder="End date">
                    </mat-date-range-input>
                    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>

                    <mat-error *ngIf="true">Invalid start date
                    </mat-error>
                    <mat-error *ngIf="true">Invalid end date</mat-error>
                </mat-form-field>
            </div>
            <!-- <p>Form Status: {{ profileForm.status }}</p> -->
            <p></p>
            <button class="btn btn-primary" type="submit" style="width: 60%;margin-left: 20%;">Search</button>
        </div>


    </form>




</div>

<div class="sort-container">

    <mat-form-field appearance="fill">
        <mat-label>Sort Cottage</mat-label>
        <mat-select (selectionChange)="setSortType($event.value)">
            <mat-option *ngFor="let cottage of cottages" [value]="cottage.value">
                {{cottage.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>

</div>

<div class="basic-container">
    <mat-grid-list cols="3" rowHeight="1:1" [gutterSize]="'30px'">

        <mat-grid-tile *ngFor="let cottage of this.cttList">
            <div id="over" class="card text-center" style="width: auto; background-color: skyblue;border-radius: 3em;">
                <img [src]="getImageName(cottage.cm.name)" width="50%" style="border-radius: 3em;">
                <div class="card-body">
                    <h3 class="card-title">
                        <b>Cottage Name: </b>{{cottage.name}}
                    </h3>

                    <p class="card-text"><b>Cottage Address: </b> {{cottage.address}}
                    </p>
                    <p class="card-text"><b>Cottage Bed Num: </b>
                        {{cottage.bedNums}}
                    </p>
                    <p class="card-text"><b>Cottage Average Mark: </b>{{cottage.averageMark}}</p>

                    <a href="#" class="btn btn-primary" [routerLink]="goProfile(cottage.id)">Go Profile</a>
                </div>
            </div>
        </mat-grid-tile>



    </mat-grid-list>
    <div style="text-align: center;padding: 5em;">
        <button type="button" class="btn btn-primary" (click)=" pageMinus()">Previous</button>
        <button type="button" class="btn btn-primary" (click)=" pagePlus()" style="margin-left :5px ">Next</button>
    </div>

</div>