<mat-grid-list cols="16" [style.background]="'fff'" style="margin-top: 10em;" [gutterSize]="'5px'">
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>

    <mat-grid-tile><button (click)="set_entity_type_cottage()" type="button"
            class="btn btn-new btn-lg box-shadow--8dp"><i class="fa fa-home" aria-hidden="true"
                style="font-size: 50px;"></i></button> </mat-grid-tile>
    <mat-grid-tile><button (click)="set_entity_type_boat()" type="button"
            class="btn btn-primary btn-lg box-shadow--8dp"><i class="fa-solid fa-ship"
                style="font-size: 50px;"></i></button> </mat-grid-tile>
    <mat-grid-tile><button (click)="set_entity_type_adventure()" type=" button"
            class="btn btn-info btn-lg box-shadow--8dp"><i class="fas fa-map-marked-alt"
                style="font-size: 50px;"></i></button> </mat-grid-tile>

</mat-grid-list>

<div>
    <div *ngIf="entity_type==0" [@fadeInOut]>
        <div class="container mt mat-elevation-z8"
            style="display: inline-block; margin-top: 3em;margin-bottom: 5em;margin-left: 13%;">
            <table mat-table [dataSource]="cottageHistoryReservation">
                <!-- id Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> No. </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>

                <!-- startAction Column -->
                <ng-container matColumnDef="reservationStart">
                    <th mat-header-cell *matHeaderCellDef> Reservation Start </th>
                    <td mat-cell *matCellDef="let element"> {{element.reservationStart|date}} </td>
                </ng-container>

                <!-- endAction Column -->
                <ng-container matColumnDef="reservationEnd">
                    <th mat-header-cell *matHeaderCellDef> Reservation End </th>
                    <td mat-cell *matCellDef="let element"> {{element.reservationEnd|date}} </td>
                </ng-container>
                <!-- endAction Column -->

                <ng-container matColumnDef="pricelistItem.price">
                    <th mat-header-cell *matHeaderCellDef> &nbsp;Price </th>
                    <td mat-cell *matCellDef="let element"> {{element.pricelistItem.price}} </td>
                </ng-container>

                <ng-container matColumnDef="pricelistItem.description">
                    <th mat-header-cell *matHeaderCellDef>Description </th>
                    <td mat-cell *matCellDef="let element"> {{element.pricelistItem.description}} </td>
                </ng-container>


                <ng-container matColumnDef="cottageID">
                    <th mat-header-cell *matHeaderCellDef> &nbsp; &nbsp; &nbsp; &nbsp;Cottage Profile </th>
                    <td mat-cell *matCellDef="let element"> <button class="btn btn-success"
                            [routerLink]="['/profileCottage/'+ element.cottageID ]">Profile View
                            {{element.cottageID}}</button> </td>
                </ng-container>
                <ng-container matColumnDef="complaints">
                    <th mat-header-cell *matHeaderCellDef> &nbsp; &nbsp; &nbsp;Complaints </th>
                    <td mat-cell *matCellDef="let element"> <button class="btn btn-warning"
                            style="color: white;">Complaints</button> </td>
                </ng-container>

                <ng-container matColumnDef="mark">
                    <th mat-header-cell *matHeaderCellDef> &nbsp; &nbsp; &nbsp;Mark </th>
                    <td mat-cell *matCellDef="let element"> <button class="btn btn-danger">Mark</button> </td>
                </ng-container>



                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>

    </div>

    <div *ngIf="entity_type==1" [@fadeInOut]>
        <div class="container mt mat-elevation-z8"
            style="display: inline-block; margin-top: 3em;margin-bottom: 5em;margin-left: 13%;">
            <table mat-table [dataSource]="boatHistoryReservation">
                <!-- id Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> No. </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>

                <!-- startAction Column -->
                <ng-container matColumnDef="reservationStart">
                    <th mat-header-cell *matHeaderCellDef> Reservation Start </th>
                    <td mat-cell *matCellDef="let element"> {{element.reservationStart|date}} </td>
                </ng-container>

                <!-- endAction Column -->
                <ng-container matColumnDef="reservationEnd">
                    <th mat-header-cell *matHeaderCellDef> Reservation End </th>
                    <td mat-cell *matCellDef="let element"> {{element.reservationEnd|date}} </td>
                </ng-container>

                <ng-container matColumnDef="pricelistItem.price">
                    <th mat-header-cell *matHeaderCellDef> &nbsp;Price </th>
                    <td mat-cell *matCellDef="let element"> {{element.pricelistItem.price}} </td>
                </ng-container>

                <ng-container matColumnDef="pricelistItem.description">
                    <th mat-header-cell *matHeaderCellDef>Description </th>
                    <td mat-cell *matCellDef="let element"> {{element.pricelistItem.description}} </td>
                </ng-container>


                <ng-container matColumnDef="boatID">
                    <th mat-header-cell *matHeaderCellDef> &nbsp; &nbsp; &nbsp; &nbsp;Boat Profile </th>
                    <td mat-cell *matCellDef="let element"> <button class="btn btn-success"
                            [routerLink]="['/profileBoat/'+ element.boatID ]">Profile View
                            {{element.cottageID}}</button> </td>
                </ng-container>
                <ng-container matColumnDef="complaints">
                    <th mat-header-cell *matHeaderCellDef> &nbsp; &nbsp; &nbsp;Complaints </th>
                    <td mat-cell *matCellDef="let element"> <button class="btn btn-warning"
                            style="color: white;">Complaints</button> </td>
                </ng-container>

                <ng-container matColumnDef="mark">
                    <th mat-header-cell *matHeaderCellDef> &nbsp; &nbsp; &nbsp;Mark </th>
                    <td mat-cell *matCellDef="let element"> <button class="btn btn-danger">Mark</button> </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsBoat"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsBoat;"></tr>
            </table>
        </div>
    </div>

    <div *ngIf="entity_type==2" [@fadeInOut]>
        <div class="container mt mat-elevation-z8"
            style="display: inline-block; margin-top: 3em;margin-bottom: 5em;margin-left: 13%;">
            <table mat-table [dataSource]="adventureHistoryReservation">
                <!-- id Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> No. </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>

                <!-- startAction Column -->
                <ng-container matColumnDef="reservationStart">
                    <th mat-header-cell *matHeaderCellDef> Reservation Start </th>
                    <td mat-cell *matCellDef="let element"> {{element.reservationStart|date}} </td>
                </ng-container>

                <!-- endAction Column -->
                <ng-container matColumnDef="reservationEnd">
                    <th mat-header-cell *matHeaderCellDef> Reservation End </th>
                    <td mat-cell *matCellDef="let element"> {{element.reservationEnd|date}} </td>
                </ng-container>
                <ng-container matColumnDef="pricelistItem.price">
                    <th mat-header-cell *matHeaderCellDef> &nbsp;Price </th>
                    <td mat-cell *matCellDef="let element"> {{element.pricelistItem.price}} </td>
                </ng-container>

                <ng-container matColumnDef="pricelistItem.description">
                    <th mat-header-cell *matHeaderCellDef>Description </th>
                    <td mat-cell *matCellDef="let element"> {{element.pricelistItem.description}} </td>
                </ng-container>
                <ng-container matColumnDef="adventureID">
                    <th mat-header-cell *matHeaderCellDef> &nbsp; &nbsp; Adventure Profile </th>
                    <td mat-cell *matCellDef="let element"> <button class="btn btn-success"
                            [routerLink]="['/profileAdventure/'+ element.adventureID ]">Profile View
                            {{element.cottageID}}</button> </td>
                </ng-container>
                <ng-container matColumnDef="complaints">
                    <th mat-header-cell *matHeaderCellDef> &nbsp; &nbsp; &nbsp;Complaints </th>
                    <td mat-cell *matCellDef="let element"> <button class="btn btn-warning"
                            style="color: white;">Complaints</button> </td>
                </ng-container>

                <ng-container matColumnDef="mark">
                    <th mat-header-cell *matHeaderCellDef> &nbsp; &nbsp; &nbsp;Mark </th>
                    <td mat-cell *matCellDef="let element"> <button class="btn btn-danger">Mark</button> </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsAdventure"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsAdventure;"></tr>
            </table>
        </div>
    </div>

</div>