<!-- Default form login login9-->
<img src="assets/register6.png" style="width: 10%;height: 20%; margin-left: 45%;margin-top: 3em;" />
<form [formGroup]="reg_user" (ngSubmit)="register()" class="text-center border border-light p-5"
    style="width: 30%;margin-left: 35%;margin-top: 3em;">



    <p class="h4 mb-4" style="color:#00C851;">Sign up</p>
    <div class="form-row mb-4">
        <div class="col">
            <!-- First name -->
            <input formControlName="firstName" type="text" id="defaultRegisterFormFirstName" class="form-control"
                placeholder="First name">
        </div>
        <div class="col">
            <!-- Last name -->
            <input formControlName="lastName" type="text" id="defaultRegisterFormLastName" class="form-control"
                placeholder="Last name">
        </div>
    </div>
    <!-- E-mail -->
    <input formControlName="email" type="email" id="defaultRegisterFormEmail" class="form-control mb-4"
        placeholder="E-mail">

    <!-- username -->
    <input formControlName="username" type="text" id="defaultRegisterFormUsername" class="form-control mb-4"
        placeholder="Username">

    <!-- Password -->
    <input formControlName="password" type="password" id="defaultRegisterFormPassword" class="form-control mb-4"
        placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock">

    <!-- Password2 -->
    <input formControlName="password2" type="password" id="defaultRegisterFormPassword2" class="form-control mb-4"
        placeholder="Confirm Password" aria-describedby="defaultRegisterFormPassword2HelpBlock">

    <!-- Phone number -->
    <input formControlName="phoneNumber" type="text" id="defaultRegisterPhonePassword" class="form-control mb-4"
        placeholder="Phone number" aria-describedby="defaultRegisterFormPhoneHelpBlock">

    <!-- Adresa -->
    <input formControlName="adresa" type="text" id="defaultRegisterPhonePassword" class="form-control mb-4"
        placeholder="Adresa" aria-describedby="defaultRegisterFormPhoneHelpBlock">


    <div class="form-row mb-4">
        <div class="col">
            <!-- First name -->
            <input formControlName="grad" type="text" id="defaultRegisterFormFirstName" class="form-control"
                placeholder="Grad">
        </div>
        <div class="col">
            <!-- Last name -->
            <input formControlName="drzava" type="text" id="defaultRegisterFormLastName" class="form-control"
                placeholder="Drzava">
        </div>
    </div>



    <!-- Sign up button -->
    <button mdbBtn color="success" type="submit">Sign in</button>

</form>